{{define "tag-chips"}}<p class="tags">{{range .}}<span class="tag tag-{{segment .}}">{{.}}</span> {{end}}</p>{{end}}

{{define "link"}}<a href="{{.Root}}{{.Ref.PagePath}}">{{.Ref.Name}}</a>{{end}}

{{define "diagram"}}<figure class="diagram-figure"><img src="{{.Root}}{{.View.DiagramPath}}" alt="{{.View.View.Title}} diagram"></figure>{{end}}
